
@charset "utf-8";

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 400;
  font-style: normal;
  src: url("NotoSans-Regular.eot?") format("eot"),
  url("NotoSans-Regular.otf") format("opentype"),
  url("NotoSans-Regular.woff") format("woff"),
  url("NotoSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 500;
  font-style: normal;
  src: url("NotoSans-Medium.eot?") format("eot"),
  url("NotoSans-Medium.otf") format("opentype"),
  url("NotoSans-Medium.woff") format("woff"),
  url("NotoSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 700;
  font-style: normal;
  src: url("NotoSans-Bold.eot") format("eot"),
  url("NotoSans-Bold.otf") format("opentype"),
  url("NotoSans-Bold.woff") format("woff"),
  url("NotoSans-Bold.woff2") format("woff2");
}